.DS_Store
dbases/*
data/*
logs/*
*.xlsx
*.png
*.html
pipeline/.snakemake/*
*.swp
*.pyc
.err
.out
*.o
*barcode_tag_bam
*count_bcs
*rgtag_bam
*append_read_name
*get_molecule_info
logs/
*.pdf
results/*/*.txt
.Rproj.user
.Rhistory
